<launch>
    <include file="$(find litter_picker)/launch/navigation.launch">
      <arg name="initial_pose_x" default="0"/>
      <arg name="initial_pose_y" default="0"/>
      <arg name="initial_pose_a" default="0"/>
      <arg name="map_file" default="$(find litter_picker)/maps/stage3.yaml"/>
    </include>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_3.launch"/>

    <include file="$(find darknet_ros)/launch/darknet_ros.launch">
        <arg name="image" value="/camera/rgb/image_raw/compressed"/>
    </include>

    <node name="master" pkg="litter_picker" type="master.py" output="screen">
        <param name="waypoints_file" type="string" value="$(find litter_picker)/waypoints/stage3_waypoints.txt"/>
    </node>

    <node name="gui" pkg="litter_picker" type="gui.py" output="screen"/>

    <node name="navigation" pkg="litter_picker" type="navigation.py" output="screen"/>
    <node name="rotation" pkg="litter_picker" type="rotation.py" output="screen"/>
</launch>
