<launch>
    <include file="$(find litter-picker)/launch/stage3_navigation.launch" />
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_3.launch" />

    <node name="master" pkg="litter-picker" type="master.py" output="screen">
        <param name="waypoints_file" type="string" value="$(find litter-picker)/waypoints/stage3_waypoints.txt"/>
    </node>

    <node name="patrol" pkg="litter-picker" type="patrol.py" output="screen"/>
    <node name="rotation" pkg="litter-picker" type="rotation.py" output="screen"/>
</launch>
